---
import '../styles/global.css';
---

<section class="flex flex-col justify-center items-center text-center bg-gray-200 dark:bg-gray-950 text-gray-900 dark:text-gray-100 px-6"  >
    <p>Lorem ram ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
    <p>Lorem ram ipsum dolor sit amet consectetur adipisicing elit. Quisquam, quae.</p>
    
</section>