---
import '../styles/global.css'
import ThemeButton from './ThemeButton.astro'

---

<section class="min-h-screen flex flex-col justify-center items-center text-center bg-gray-200 dark:bg-gray-950 text-gray-900 dark:text-gray-100 px-6 " id="hero">
  <ThemeButton  />
  <div class="flex flex-col mb-auto mr-auto ml-auto mt-auto pb-20">
  <img src="./Memoji.webp" alt="Perfil" class="w-80 h-60 m-auto" />
  <h1 class="text-9xl font-bold bg-gradient-to-r from-green-400 via-green-500 to-green-600 bg-clip-text text-transparent dark:from-orange-300 dark:via-orange-400 dark:to-orange-500 ">Hi! I'm Alexis</h1>
  <p class="text-4xl text-gray-700 dark:text-gray-300 font-bold">Advanced Student Computer Science</p>
  </div>
  <img src="finger.svg" alt= "finger" class="w-12 h-12 mb-4 absolute bottom-0 animate-bounce"/>
</section>
